:root {
    --azul-oscuro: #0A122A; /* Fondo principal oscuro */
    --azul-medio: #1B2A4A; /* Cards oscuras */
    --azul-claro: #2E4A78; /* Hover / detalles */

    --blanco: #FBFAF8; /* Texto claro */
    --blanco-suave: #F1F2F4; /* Fondo claro */

    --negro: #000000;
    --gris: #797B84; /* Texto secundario */

    --gris-claro: #D9DCE3; /* Bordes */
    --celeste-acento: #4F8EDC; /* Botones / acento */

    --fuente-principal: "Nunito Sans", sans-serif;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--blanco);
    font-family: var(--fuente-principal);
    color: var(--negro);
}

a {
    text-decoration: none;
    color: var(--negro);
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.5rem;
}

.contenedor {
    max-width: min(120rem, 95%);
    margin: 0 auto;
}